@font-face{
  font-family: 'Futura';
  src: url:('../fonts/futura_light-webfont.eot'), url:('..fonts/futura-light-webfont.svg') format('svg'), url:('..fonts/futura-light-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
